@{
    ViewBag.Title = "Index";
    Layout = "../Shared/_Layout.cshtml";
}
@using Kendo.Mvc.UI
@using NeuroSystem.Workflow.UserData.UI.Html.Mvc.Extensions

@model NeuroSystem.Workflow.UserData.UI.Html.Mvc.TestViews.ProcesMW

<div >
    <h2>Proces22</h2>
@using (Html.BeginForm("Zapisz","Proces"))
{
    @(Html.Kendo().Button().Name("btnZapisz").Content("Zapisz"))
    @Html.CreateDataForm(Model.Pracownik)
}
    
    @(Html.Kendo().ComboBox()
          .Name("ccb")
          .DataValueField("Id")
          .DataTextField("Nazwa")
          .Filter("contains")
          .DataSource(ds =>
              ds.Read("PracownikTest_ReadList", "Proces")
                  .ServerFiltering(true)
          ))


    @*@(Html.Kendo().Grid<PracownikTestModel>()
            .Name("grid")
        .DataSource(ds =>
        {
            ds
            .Ajax()
            .Read("PracownikTestModel_Read", "Proces");
        }))*@

</div>