@{
    ViewBag.Title = "Index";
    Layout = "../Shared/_Layout.cshtml";
}
@using Kendo.Mvc.UI
@using NeuroSystem.Workflow.UserData.UI.Html.Mvc.Extensions

@model NeuroSystem.Workflow.UserData.UI.Html.Mvc.TestViews.ProcesMW

<div >
    <h2>Proces22</h2>
@using (Html.BeginForm("Zapisz","Proces"))
{
    @(Html.Kendo().Button().Name("btnZapisz").Content("Zapisz"))
    @Html.CreateDataForm(Model.Pracownik)
}

    @(Html.Kendo().ComboBox()
        .Name("ccb")
    .DataValueField("Id")
    .DataTextField("Nazwa")
    .DataSource(ds =>
    ds.Read("PracownikTestModel_Read", "Proces")
    .Custom()
    .Schema(schema =>
    {
        schema.Data("Data") //Define the [data](http://docs.telerik.com/kendo-ui/api/javascript/data/datasource#configuration-schema.data) option.
              .Total("Total"); //Define the [total](http://docs.telerik.com/kendo-ui/api/javascript/data/datasource#configuration-schema.total) option.
    })
    .ServerFiltering(false)

    )
    )


    @*@(Html.Kendo().Grid<PracownikTestModel>()
            .Name("grid")
        .DataSource(ds =>
        {
            ds
            .Ajax()
            .Read("PracownikTestModel_Read", "Proces");
        }))*@

</div>